<dl>
  <dt class="target">Target Apps</dt> 
  <dd class="app">
    <p class="p-name"><%= instruction.remote_app.name %></p>
    <a class="u-url u-uid" href="<%= instruction.remote_app.app_url %>">
      <%= instruction.remote_app.app_url %>
    </a>
  </dd>

  <dt class="configuration">Body</dt>
  <dd>
    <%= simple_format instruction.body %>
  </dd>
</dl>
