<div class="h-card">
  <h2 class="p-name">
    <%= link_to instruction.name, instruction_url(instruction), class: "u-uid u-url" %>
  </h2>
  <h3>Targets</h3>
  <ul>
    <% instruction.target_apps.each do |target_app| %>
      <li class="p-org h-card">
        <%= link_to target_app.name, app_url(target_app), class: "p-name u-uid u-url" %>
      </li>
    <% end %>
  </ul>
  <% if instruction.remote_app.present? %>
    <h3>Remote</h3>
    <ul>
      <li class="p-item h-card">
        <%= link_to instruction.remote_app.name, app_url(instruction.remote_app), class: "p-name u-uid u-url" %>
      </li>
    </ul>
  <% end %>
</div>
