<% title "Feed" %>
<p><%= link_to "New Configuration", new_instruction_path %></p>

<section class="h-feed">
  <%= render @instructions %>
  <% @instructions.each do |instruction| %>
  <% end %>
</section>
