<% title "Configuration for " + @instruction.remote_app.name %>
<p><%= link_to "New Configuration", new_instruction_path %></p>

<%= render @instruction %>

<p><%= link_to "Back", instructions_path %></p>
