<dl>
  <dt>UID</dt>
  <dd>
    <a class="u-url u-uid" href="<%= remote_app.uid %>">
      <%= remote_app.uid %>
    </a>
  </dd>
  <dt>Name</dt>
  <dd>
    <span class="p-name"><%= remote_app.name %></span>
  </dd>
</dl>
